DefaultLanguage en-US
# Cache CSS & JS files for 24 hrs.
<FilesMatch "\.(css|js)$">
Header Set Cache-Control "max-age=86400, public"
</FilesMatch>

RewriteEngine On
RewriteBase /ViviFire/docs/

RewriteRule ^(index\.html|newest\.php)$ index.php [R=301,L]

# Feb 2024
RewriteRule ^Call_Event_Statement\.html$ Raise_Event_Statement.html [R=301,L]
# Mar 2024
RewriteRule ^If_Then_Else_Directives\.html$ Const_If_Else_Statement.html [R=301,L]
# Apr 2024
RewriteRule ^Const_Directive\.html$ Const.html [R=301,L]
# May 2024
RewriteRule ^For_Each_In_Statement\.html$ For_Each_Statement.html [R=301,L]
RewriteRule ^For_To_Statement\.html$ For_Statement.html [R=301,L]
# Jun 2024
RewriteRule ^Throw_Statement\.html$ Raise_Statement.html [R=301,L]

## Change underscores to hyphens
# RewriteRule       ^(.*?)_(.*?_.*)$ $1-$2 [N]
# RewriteRule       ^(.*?)_([^_]*)$ $1-$2 [R=301]
