/* Center body */
html {
	display: table;
	margin: auto;
}
body {
	display: table-cell;
}
/* End center body */
body, caption, td, th {
	font-family: Tahoma, sans-serif;
	font-size: 100%;
	background-color: #E0E0E0;
	color: #333333;
}
dd, main li, p {
	max-width: 65ch;
}
table {
	border: thin solid gray;
	border-collapse: collapse;
}
p#aka {
	display: none;
}
p.note {
	font-size: 95%;
	background-color: #E7B8B8;
	color: #222222;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
}
tbody th {
	text-align: left;
	vertical-align: top;
}
td.char {
	font-weight: bold;
	text-align: center;
}
h1, h1 code {
	font-family: Georgia, serif;
	font-size: 2.5rem;
}
h2, h2 code {
	font-family: inherit;
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
.six-cols {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	max-width: 65ch;
}
ul.six-cols {
	list-style: none;
	margin: 0;
	padding: 0;
}
.foot {
	font-size: 85%;
	font-style: italic;
}
nav p:first-child, #strings {
	display: none;
}
.breadcrumb ul, .breadcrumb ul li {
	display: inline;
	list-style: none;
	font-size: 85%;
	background-color: #EAEAEA;
}
.breadcrumb ul {
	padding: 0;
	margin: 0;
}
.breadcrumb ul li {
	padding: 0;
}
.breadcrumb ul li:after {
	content: " \203A ";
}
div.listing s {
	text-decoration: inherit;
}
div.listing input[type=checkbox]:not(:checked) ~ pre s {
	display: none;
}
div.listing, div.syntax {
	border: thin solid gray;
	padding: 0.3em;
	min-width: 50%;
}
div.listing pre, div.syntax pre {
	border: thin solid gray;
	width: 100%;
	margin-bottom: 0;
}
code, code[class="language-vivifire"], pre, pre[class="language-vivifire"], code kbd, code var {
	font-family: 
		Inconsolata, 
		"Fira Code", 
		Consolas, /* Win */
		Menlo, /* Apple */
		"Source Code Pro", /* Win */
		monospace;
	font-size: 95%;
	white-space: pre;
}
pre {
	background-color: #FAFAFA;
	color: #080808;
}
.listing code, .syntax code {
	max-height: 10em;
	overflow: auto;
}
.syntax code {
	word-spacing: -0.5em;
}
.language-literal code {
	word-spacing: -0.75em;
}
nav ul, ul.articles {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.articles code {
	font-family: inherit;
}
.token.rem {
	color: #555;
	font-style: italic;
}
.token.at, dt .at, 
dt .mod {
	color: blue;
	font-weight: bold;
}
.token.id {
	color: #080808;
}
.token.capid, .syntax .token.id, .literal var, dt .id, dt var {
	color: #077;
}
.no-capid .token.capid {
	color: inherit;
}
.syntax .token.id, .literal var, code.id, var.id {
	font-style: italic;
}
.token.kw, .token.nkw, .literal kbd, dt .kw, dt .nkw, dt kbd {
	color: navy;
	font-style: normal;
}
.token.kw, .literal kbd, code.at, code.kw, .kws code, 
dt kbd, kbd.kw, kbd.mod, .kws kbd {
	font-weight: bold;
}
.token.num, .token.char, .token.fixed, .token.date, dt .num {
	color: #ff8c00;
	font-weight: normal;
}
.token.op {
	color: #556b2f;
}
code.op, .ops code, 
kbd.op, .ops kbd {
	font-weight: bold;
}
code kbd {
	color: black;
	font-weight: bold;
}
.token.strint {
	color: pink;
}
.token.str, dt .str {
	color: #C00;
}
.articles h2 a, .articles h3 a {
	color: inherit;
	text-decoration: inherit;
}
input#go {
	text-align: center;
	width: 3em;
}
code .err {
	border-bottom:2px dotted red;
	display: inline-block;
	position: relative;
}
code .err:after {
	content: '';
	width: 100%;
	border-bottom:2px dotted red;
	position: absolute;
	bottom:-1px;
	left: -2px;
}
#poll {
	background-color: #801b1b;
	color: #eeeeee;
}
#poll a:link, #poll a:visited, #poll a:active {
	color: yellow;
}
#poll button {
	background-color: inherit;
	color: yellow;
	border: thin solid #eeeeee;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	font-family: "Arial Unicode MS", "DejaVu Sans", Unifont, emoji;
}
.checker td {
	background-color: #fff;
}
.checker tr:nth-child(even) td:nth-child(odd), .checker tr:nth-child(odd) td:nth-child(even) {
	background-color: #ddd;
}
kbd.seq {
	font-family: inherit;
	whie-space: nowrap;
}
kbd kbd { /* Made to look like keys */
	border-radius: 0.06em;
	padding: 0.02em 0.04em 0;
	border: 0.02em solid black;
}
.screen-reader {
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 1px;
	height: 1px;
}
code.IPA {
	font-family: "DejaVu Sans", "Lucida Sans Unicode", Gentium;
	font-size: inherit;
}
/* Stubs - updated 2024/03/13 */
a[href^="Collection_Initializers."],
a[href^="Collections."],
a[href^="Conversions_Between_Strings_and_Other_Types."],
a[href^="Covariance_and_Contravariance."],
a[href^="Declaration_Contexts_and_Default_Access_Levels."],
a[href^="Effects_of_Culture_on_Strings."],
a[href^="How_Make_Strings."],
a[href^="In."],
a[href^="Installation."],
a[href^="Iterators."],
a[href^="Language_Limits."],
a[href^="Namespaces."],
a[href^="Object_Lifetime."],
a[href^="Programming_Concepts."],
a[href^="References_to_Declared_Elements."],
a[href^="StringBuilder_Class."],
a[href^="String_Manipulations."],
a[href^="Structures_and_Classes."],
a[href^="System_Requirements."],
a[href^="ViviFire_Runtime_Library_Members."],
a[href^="Widening_and_Narrowing_Conversions."],
#stub h1 {
	&:link {
		color: inherit;
	}
	main &:after {
		content: "\A0\1F6A7"; /* Construction emoji */
		display: inline-block;
		font-family: "Noto Emoji Regular", "Segoe UI Emoji", "Segoe UI Symbol", Symbola, emoji;
	}
}

@media (prefers-color-scheme: dark) {
	body, caption, td, th {
		background-color: #111;
		color: #ddd;
	}
	.breadcrumb ul, .breadcrumb ul li {
		background-color: #000;
	}
	p.note {
		background-color: darkmagenta;
		color: pink;
	}
	pre {
		background-color: #222;
		color: #eee;
	}
	.token.at {
		color: lightblue;
	}
	.token.id {
		color: #eee;
	}
	.token.capid, .syntax .token.id {
		color: cyan;
	}
	.token.kw, .token.nkw {
		color: blue;
	}
	.token.num, .token.char, .token.fixed, .token.date {
		color: orange;
	}
	.token.op {
		color: olive;
	}
	.token.rem {
		color: #888;
	}
	.token.str {
		color: red;
	}
	code kbd {
		color: #eee;
	}
}

@media print {
	* {
		background-color: white;
		color: #222;
		border-color: #222;
	}
	nav, .screen-reader, #poll {
		display: none;
	}
}

@media (pointer: coarse) {
	/* Touch-only devices */
	a, button, label {
		min-height: 48px;
		min-width: 48px;
	}
	dt + dt a, li a {
		line-height: 1.5;
	}
}

@media (any-pointer: fine) {
	/* Non-touch devices */
	.touch-only {
		display: none;
	}
}

@media all and (min-width: 40em) {
	/* Wide-screen devices */
	dl.parts {
		display: grid;
		grid-template-columns: 12em auto;
		grid-template-rows: auto;
	}
	.parts dt {
		grid-column-start: 1;
	}
	.parts dd {
		grid-column-start: 2;
	}
	.parts dt+dd {
		border-top: thin solid #ccc;
	}
}

@media all and (max-width: 40em) {
	/* Small-screen devices */
	table.wide {
		width: 100%;
	}
	table.wide, .wide thead, .wide tbody, .wide th, .wide td, .wide tr {
		display: block;
	}
	.wide thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.wide tr {
		border: thin solid #ccc;
	}
	.wide td, .wide tbody th {
		border: none;
		border-bottom: thin solid #eee;
		position: relative;
		padding-left: 40%;
		text-align: left !important;
	}
	.wide td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 35%;
		padding-right: 0.5em;
		white-space: nowrap;
	}
	.wide td:empty {
		display: none;
	}
}
/* Add this code before a "wide" table:
<style media="all and (max-width: 40em)">
	#table-id tbody th:before { content: "if 1st column th"; }
	#table-id td:nth-of-type(1):before { content: "th text"; }
	... (make sure nums correspond)
</style>
*/
